<table class="table @tableColor">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date Complete</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <Virtualize Items="Items" Context="item">
            <ToDoRow Item="item" />
        </Virtualize>
    </tbody>
</table>

@code {
    [Parameter]
    public List<ToDoItem>? Items { get; set; }
    private string tableColor = "table-dark";
    
    protected override void OnParametersSet()
    {
        if (Items != null && Items.Count < 10)
        {
            tableColor = "table-light";
        } else if (Items != null && Items.Count >= 10)
        {
            tableColor = "table-dark";
        }
    }
}
