@using FrontEnd.ContainerDI

@page "/lifecycle-demo"

@inject ITransientService TransientService
@inject IScopedService ScopedService
@inject ISingletonService SingletonService

<h3>Service Lifecycles</h3>
<p>Transient: @TransientService.GetOperationID()</p>
<p>Scoped: @ScopedService.GetOperationID()</p>
<p>Singleton: @SingletonService.GetOperationID()</p>

@code {
    protected override void OnInitialized()
    {
        // Each service will have a different lifecycle
    }
}
