@page "/todolist"

@rendermode InteractiveServer

<h3>To Do</h3>
<br />

<button class="btn btn-primary" @onclick="AddTask">Add To Do</button>

@if (items != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date Complete</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr @key="item.Id">
                    <td>@item.Id</td>
                    <td>
                        @if (item.IsCompleted)
                        {
                            <del><input type="text" disabled class="form-control" @bind-value="item.Name"></del>
                        }
                        else
                        {
                            <input type="text" class="form-control" @bind-value="item.Name">
                        }
                    </td>
                    <td>@item.DateCompleted.ToLongDateString()</td>
                    <td>
                        <input type="checkbox" class="form-check-input" @bind-value="item.IsCompleted"
                        checked="@item.IsCompleted">
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (items != null && items.Count == 0)
{
    <p><em>No items!</em></p>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private List<ToDoItem> items = ToDoItemsRepository.GetItems();
    
    private void AddTask()
    {
        ToDoItemsRepository.AddItem(new ToDoItem { Name = "New Task", IsCompleted = false });
        items = ToDoItemsRepository.GetItems();
    }


}
